body {
  font-family: "Roboto Serif", serif;
  background: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 3.5vw;
  letter-spacing: 0.1em;
  color: #ffffff;
  backdrop-filter: blur(1px);
  padding-bottom: 33px;
  margin: 0;
  opacity: 0.8;
}

@media screen and (max-width: 1300px) {
  h1 {
    font-size: 40px; /* Minimalna wielkość fontu */
    font-weight: bolder;
  }
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 45px;
  letter-spacing: 0.1em;
  color: #b6c4b6;
  margin-top: 10px;
  margin-bottom: 20px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #ffffff;
  filter: blur(3);

  margin: 0;
  padding-bottom: 70px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #0a0a0a;
  margin: 0;
}

.logo {
  width: 250px;
  height: 156.07px;
  display: flex;
  align-items: center;
}

.topbar {
  height: 196px;
  width: 100%;
  background-color: #163020;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 60px;
  width: 100%;
  background-color: #163020;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 2px solid #b6c4b6;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu_item {
  margin: 0 1vw;
}

.menu_link {
  display: inline-block;
  padding: 5px 20px;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  text-decoration: none;
  font-family: "Roboto Serif", serif;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  background-color: none;
  border: none;
  border-radius: 10px;
  transition: color 0.4s ease;
}

.menu_link:hover {
  color: #b6c4b6;
}

.menu_link_active {
  display: inline-block;
  padding: 5px 20px;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  text-decoration: none;
  font-family: "Roboto Serif", serif;
  font-weight: 800;
  font-size: 22px;
  color: #b6c4b6;
  background-color: none;
  border: none;
  border-radius: 10px;
  transition: color 0.4s ease;
}

@media screen and (max-width: 768px) {
  .menu_item {
    margin: 0;
  }

  .menu_link {
    margin: 0;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 24px;
  }

  .menu_link_active {
    margin: 0;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 24px;
  }
}

/* SEKCJA - WSTĘP */

.image {
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url(jpg/thor-alvis-A57akxc-4BQ-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  border-bottom: 2px solid #b6c4b6;
  display: flex;
}

.text_frame_1 {
  padding-left: 16vw;
  padding-top: 6vw;
  opacity: 1;
}

.button1 {
  background: #304d30;
  color: white;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 400;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px 40px;
  width: 270px;
  height: 40px;
  border: 1px solid #304d30;
  text-decoration: none;
  box-shadow: 0 0 10px rgb(78, 78, 78);
  transition: background-color 0.5s, color 0.5s;
}

.button1:hover {
  color: #304d30;
  background-color: #eef0e5;
}

@media screen and (max-width: 1080px) {
  .text_frame_1 {
    padding-left: 10vw;
    padding-top: 11vw;
    opacity: 1;
  }

  /* SEKCJA - O NAS  */
}

.frame_about {
  background-color: white;
  height: auto;
}

.about {
  max-width: 1200px;
  margin: auto;
  padding-top: 6vw;
  padding-bottom: 6vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.photo_frame_about {
  width: 590px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_about {
  flex-basis: calc(50% - 100px);
  background: none;
  margin-top: 0vw;
  margin-bottom: 0vw;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.about_title {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 0.1em;
  display: flex;
  color: #b6c4b6;
  margin: 0;
}

.button2 {
  background: #304d30;
  color: white;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 400;
  font-size: 20px;
  border-radius: 20px;
  width: 230px;
  height: 40px;
  border: 1px solid #304d30;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgb(202, 201, 201);
  transition: background-color 0.5s, color 0.5s;
}

.button2:hover {
  color: #304d30;
  background-color: #eef0e5;
}

.text_about p {
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #0a0a0a;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 40px;
}

@media screen and (max-width: 1080px) {
  .photo_frame_about {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 6vw;
    padding-bottom: 6vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .text_about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc(70%);
    margin: 0;
    flex-direction: column;
  }

  .about_title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 70px;
    letter-spacing: 0.1em;
    display: flex;
    color: #b6c4b6;
    margin: 0;
  }

  .text_about p {
    font-size: 22px;
    text-align: center;
  }
}

/* SEKCJA - NUMERY */

.frame_numbers {
  background-color: #304d30;
  height: auto;
  border-bottom: 2px solid #b6c4b6;
  border-top: 2px solid #b6c4b6;
}

.numbers {
  max-width: 1600px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 20px;
}

.number {
  flex-basis: calc(25% - 20px);
  background: none;
  margin-top: 5vw;
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.big_number {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 60px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
}

.number p {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fff;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.category {
  padding: 80px;
  display: flex;
}

@media screen and (max-width: 1080px) {
  .frame_numbers {
    width: 100%;
  }
}

/* SEKCJA - DLACZEGO MY ?  */

.reasons {
  background-color: white;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 20px;
}

.section_title {
  width: 100%;
  text-align: center;
  margin-top: 4vw;
  margin-bottom: 5vw;
}

.reason {
  flex-basis: calc(25% - 20px);
  background: white;
  margin-bottom: 6vw;
  border-radius: 30px;
  border: 2px solid #b6c4b6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 10px rgb(202, 201, 201);
}

@media screen and (max-width: 1080px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 20px;
    width: 100%;
  }

  .container p {
    margin: 0;
    font-size: 22px;
  }

  .section_title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 70px;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
    color: #b6c4b6;
    margin: 50px;
  }

  .reason {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
  }
  .reason {
    /* Adjust width as needed for smaller screens */
    flex-basis: calc(50% - 20px); /* Example for 2 items per line */
    margin-bottom: 20px;
  }
}

.icon_check {
  background: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: -25px;
}

.reason p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 125%;
  text-align: center;
  color: #0a0a0a;
  padding-bottom: 25px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer {
  height: 195px;
  background-color: #163020;
  border-bottom: 1px solid #b6c4b6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  padding-left: 30vw;
  padding-right: 20vw;
}

.small_logo {
  width: 200px;
  height: 124.86px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 6vw;
}

.text_footer {
  height: 110px;
  width: 700px;
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 175%;
  color: #fff;
  margin: 0;
}

.icon_fb {
  margin-left: 40px;
}

@media screen and (max-width: 868px) {
  .icon_fb {
    margin-top: 10px;
    margin-left: 100px;
  }

  .small_logo {
    width: 150px;
    height: 93.64px;
  }
  .text_footer {
    width: 250px;
    font-weight: 300px;
    font-size: 16px;
    line-height: 150%;
  }
}

.policy {
  height: 55px;
  background-color: #163020;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy_text {
  margin: 0;
  font-family: "Roboto Serif", serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 175%;
  color: #b6c4b6;
  letter-spacing: 0.05em;
}
